<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="layout-projet(titrePage, contenuPage, ressourcesSupp)">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title data-th-text="#{index.title}">ENI-Enchères</title>
<link rel="stylesheet" data-th-href="@{/css/general.css}">
<link rel="stylesheet" data-th-href="@{/css/header.css}">
<th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>

<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>
<body>
	<!-- Intégration du fragment d'entête – avec le paramètre de la barre de navigation variable -->
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

	<main data-th-replace="${contenuPage} ?: ~{}">Contenu de la page à construire</main>

</body>
</html>