<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-list-articles" class="items-cards">
<script src="chemin/vers/votre/fichier/filtres.js"></script>
<div>			
	
	    <select name="categorie" id="categorie">
    			<option value="">Sélectionnez une catégorie</option>
   			    <option th:each="categorie : ${categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
 		</select>
	

    <!-- Ajout de liens pour filtrer par nom d'article et par catégorie -->
    <form method="get" action="/filtrer-par-nom-article">
        <input type="text" name="nomArticle" placeholder="Nom de l'article">
        <button type="submit">Rechercher</button>
    </form>
</div> 

<div data-th-if="${articlesList != null}" data-th-each="article : ${articlesList}" class="card">
		<div class="img-box"></div>
		<div class="details">
		<script src="chemin/vers/votre/fichier/filtres.js"></script>
   
<div data-th-if="${listArticleError != null}">
		<h2 data-th-each="err : ${listArticleError}" data-th-text="#{${err}}"></h2>
</div>
			
			<h2>
				<a data-th-href="@{|/articles/articleDetail/${article.id}|}" data-th-text="${article.nom}"></a>
			</h2>
			
			<p data-th-text="#{form.article.bestOffer} + ' '  + ${article.prixVente}"></p>
			<p data-th-text="#{form.article.enchere.fin} + ' '  + ${article.dateFinEncheres}"></p>

			<p>
				<a data-th-href="@{|/user/profil/${article.vendeur.pseudo}|}" data-th-text="#{form.article.vendeur} + ' '  + ${article.vendeur.pseudo}"></a>
			</p>
		</div>
	</div>
	
</div>


