	<!-- NE PAS UTILISER CELUI_CI -->


<form xmlns:th="http://www.thymeleaf.org" 
		data-th-fragment="frag-prof-form(titreForm, action)" 
		class="form-poly"
		method="post"
		data-th-object="${formObject}"
		data-th-action="@{${action}}" >
		
		<h1 data-th-text="${titreForm}"></h1>
        <!-- Première colonne -->
        <label for="pseudo">Pseudo :</label>
        <input type="text" id="pseudo" required data-th-field="*{pseudo}" autofocus>

        <label for="nom">Nom :</label>
        <input type="text" id="nom"  data-th-field="*{nom}" required>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom"  data-th-field="*{prenom}" required>

        <label for="telephone">Téléphone :</label>
        <input type="number" id="telephone"  data-th-field="*{telephone}" required>

        <label for="email">Email :</label>
        <input type="text" id="email"  data-th-field="*{email}" required>


        <!-- Deuxième colonne -->
        <label for="codePostal">Code postal :</label>
        <input type="text" id="codePostal"  data-th-field="*{adresse.codePostal}" required>

        <label for="rue">Rue :</label>
        <input type="text" id="rue"  data-th-field="*{adresse.rue}" required>

		<label for="complement">Complément :</label>
        <input type="text" id="complement" name="complement" data-th-field="*{adresse.complement}" required>

        
        <label for="ville">Ville :</label>
        <input type="text" id="ville" data-th-field="*{adresse.ville}" required>
        
        
        <!-- Gestion de l'affichage des formulaires de mots de passe en fonction de l'authentification -->
        <th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
        <label for="motDePasse">Mot de passe actuel:</label>
        <input type="password" id="motDePasse" required>
        </th:block>

		<th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
        <label for="motDePasseNew">Nouveau Mot de passe :</label>
        <input type="password" id="motDePasseNew" >
        </th:block>

        <label for="confirmation">Confirmation :</label>
        <input type="password" id="confirmation"  required>
		
		<th:block data-th-if="${!#authorization.expression('isAuthenticated()')}">
		<label for="motDePasse">Mot de passe actuel:</label>
        <input type="password" id="motDePasse" required>
		</th:block>


        <div class="btn-box">
            <!-- Construire fonction JS pour le ONCLICK  -->
            <th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
            <button type="submit" id="submitButton" >Enregistrer</button>
            </th:block>
            <th:block data-th-if="${!#authorization.expression('isAuthenticated()')}">
            <button type="submit" id="submitButton" >Créer</button>
            </th:block>
            
            <button type="button">Annuler</button>
        </div>


	

</form>