<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-list-articles-connecte" class="items-cards">
<div>
	
 <form data-th-object="${filter}" method="get" action="/filtrer-par-nom-article" id="filtreForm">
            <select name="categorie" id="categorie">
                <option value="">Sélectionnez une catégorie</option>
                <option value="Ameublement">Ameublement</option>
                <option value="Informatique">Informatique</option>
                <option value="Sport & Loisirs">Sport et Loisirs</option>
                <option value="Vêtements">Vêtements</option>
                <option value="Toutes les catégories">Toutes les catégories</option>
            </select>
            
            <input type="text" name="nomArticle" placeholder="Nom de l'article">
            
            <div id="typeFiltreForm">
                <input type="radio" id="achats" name="typeFiltre" value="achats" checked onchange="this.form.submit()">
                <label for="achats">Achats</label>
                <input type="radio" id="mesVentes" name="typeFiltre" value="mesVentes" onchange="this.form.submit()">
                <label for="mesVentes">Mes ventes</label>
            </div>
            
            <div id="enchereFiltreForm" class="achats hidden" >
                <input type="checkbox" id="enchereOuverts" name="enchereType" value="enchereOuverts">
                <label for="enchereOuverts">Enchères ouvertes</label>
                <input type="checkbox" id="mesEncheres" name="enchereType" value="mesEncheres">
                <label for="mesEncheres">Mes enchères en cours</label>
                <input type="checkbox" id="mesEncheresRemportees" name="enchereType" value="mesEncheresRemportees">
                <label for="mesEncheresRemportees">Mes enchères remportées</label>
            </div>
            
            <div id="venteFiltreForm" class="mesVentes hidden" >
                <input type="checkbox" id="venteEnCours" name="venteType" value="venteEnCours">
                <label for="venteEnCours">Ventes en cours</label>
                <input type="checkbox" id="venteNonDebutees" name="venteType" value="venteNonDebutees">
                <label for="venteNonDebutees">Ventes non débutées</label>
                <input type="checkbox" id="venteTerminees" name="venteType" value="venteTerminees">
                <label for="venteTerminees">Ventes terminées</label>
            </div>
            
            <button type="submit">Rechercher</button>
        </form>
</div>

<div data-th-if="${articlesList != null}" data-th-each="article : ${articlesList}" class="card">
	
		<div class="img-box"></div>
		
	
		
		<div class="details">

	<div data-th-if="${listArticleError != null}">
		<h2 data-th-each="err : ${listArticleError}" data-th-text="#{${err}}"></h2>
	</div>
		
			<h2>
				<a data-th-href="@{|/articles/articleDetail/${article.id}|}" data-th-text="${article.nom}"></a>
			</h2>
			
			<p data-th-text="#{form.article.prixInit} + ' '  + ${article.prixVente}"></p>
			<p data-th-text="#{form.article.enchere.fin} + ' '  + ${article.dateFinEncheres}"></p>

			<p>
				<a data-th-href="@{|/user/profil/${article.vendeur.pseudo}|}" data-th-text="#{form.article.vendeur} + ' '  + ${article.vendeur.pseudo}"></a>
		</p>
	</div>
</div>
<div data-th-if="${listArticleError != null}">
		<h2 data-th-each="err : ${listArticleError}" data-th-text="#{${err}}"></h2>
</div>

</div>