* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: #ABB2BF;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: calc(.5rem + 1vw);
  background-color: #282c34;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-family: Roboto;
  font-size: calc(1rem + 2vw);
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: calc(0.65rem + 1vw);
  font-family: Roboto;
  font-weight: 400;
}

a {
  cursor: pointer;
}

a:hover {
  color: rgb(29, 28, 28);
}

html {
  scroll-behavior: smooth;
}


button {
  margin: 1rem;
  background-color: #134A7F;
  color: #ABB2BF;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(29, 28, 28);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 3px rgba(19, 74, 127, 0.85);
  font-family: Roboto;
  font-size: calc(0.6rem + 0.5vw);
}

button:hover {
  transform: translateY(-2px);
  background-color: rgba(#ABB2BF, 0.3);
  color: rgb(29, 28, 28);
}


@media screen and (max-width: 760px) {
body {

  font-size: calc(.5rem + 3vw);

}
	}


.hidden {
            display: none;
        }

