.userProfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profilGrid {
	width: calc(10rem + 40vw);
	display: grid;
	gap: calc(1rem + 1vw);
	grid-template-columns: repeat(2, 1fr);
}

input, textarea {
	background-color: #282c34;
	color: #ABB2BF;
	font-family: roboto;
	font-size: calc(.5rem + 1vw);
	text-align: left;
}

.profilGrid .fieldset {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.profilGrid .fieldset input {
	margin-left: 
	1rem;
}

.btn-box {
	display: flex;
}