<!DOCTYPE html>

<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-projet(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">


<head>

	<!-- Accueil comme titre de page -->
	<title data-th-text="#{index.title}"></title>
	
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/cards.css}" />
	</th:block>

</head>
<body>
	<main>
		 <!-- Condition pour inclure le fragment de filtrage -->
    	 <div data-th-if="${! #authorization.expression('isAuthenticated()')}"></div>
        		<!-- Utilisateur non connecté -->
        		<div data-th-replace="~{fragments/fragment-liste-articles :: frag-list-articles}"></div>
    	<div data-th-if="${#authorization.expression('isAuthenticated()')}"></div>
       	    	<!-- Utilisateur connecté -->
       	 		<div th:replace="fragments/fragment-liste-articles-connecte :: frag-list-articles-connecte"></div>
  	</main>
</body>
</html>