<!DOCTYPE html>

<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-projet(titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Accueil comme titre de page -->
<title data-th-text="#{index.title}"></title>

</head>
<body>
	<main>
 
        <div class="containers">
           <!-- Intègre l'annonce de gauche -->
            <div class="container" id="container1">
              
            </div>
       		<!-- Intègre l'annonce de droite -->
            <div class="container" id="container2">
                
            </div>
        </div>
      </main>
</body>
</html>