<!DOCTYPE html>

<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{layouts/layout :: layout-projet(titrePage=~{:: title},
                    contenuPage=~{:: main},
                    ressourcesSupp=~{:: #ressources-css})}">


<head>
<meta charset="UTF-8">
<script src="script.js"></script>
<title>S'enregistrer</title>
<th:block id="ressources-css">
    <link rel="stylesheet" data-th-href="@{/css/form.css}" />
</th:block>
</head>
<body>
   <main>
	<!-- Injecter ici le register-form transformé en fragment, si jamais ça veut bien marcher -->
        <div data-th-replace="~{fragments/fragment-profil-form :: frag-prof-form(#{view-register-form.h1}, '/user/register')}">
        </div>
    </main>
</body>
</html>